
@model IEnumerable<milestone2.Product>


@{
    ViewBag.Title = "Details";
}

<h4>Product Details</h4>

<table class="table">
    <tr>
        <td>Name</td>
        <td>ProductNumber</td>
        <td>Color</td>
        <td>ListPrice</td>
        <td>Size</td>
        <td>Weight</td>
    </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ProductNumber</td>
                <td>@item.Color</td>
                <td>@item.ListPrice.ToString("c")</td>
                <td>@item.Size</td>
                <td>@item.Weight</td>
            </tr>
        }
    
</table>